*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
h1,h2,h3,h4,h5,h6{    
    font-family: 'DM Serif Display', serif;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    
    img{
        object-fit: contain;
    }
    .header{
        background-color: white;
        padding: 2rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        &_nav{
            display: none;
        }
    
        #close{
            display: none;
        }
    }

    .heroSection{
        background: #2D2641;
        color: white;
    
        img{
            width: 100%;
    }
    div{
        
        padding: 5.8125rem 1.5rem;
        text-align: center;
    
        h1{
            font-style: normal;
           font-weight: normal;
           font-size: 3rem;
           line-height: 1;
           letter-spacing: -0.666667px;
           margin-bottom: 1rem;
        }
    
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.625;
            margin-bottom: 2rem;
        }
        button{
            background: transparent;
            font-style: normal;
            font-weight: bold;
            font-size: 0.8125rem;
            line-height: 1.15;
            letter-spacing: 1.5px;
            border: 1.5px solid white;
            outline: none;
            padding: 0.75rem 1.75rem;
            color: white;
        }
        }
    }